<!DOCTYPE html>
<html id="background">
<head>
	<title>Half-Baked</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

	<!-- <h1>Half-Baked</h1> -->

	<div id="dessert">
	<a href="/muffins"><img src="images/muffin.png"></img></a>
	<a href="/cakes"><img src="images/cake.png"></a>
	<a href="/cookies"><img src="images/cookie.png"></a>
	</div>

	<footer>
		<form method="POST" action='/sent'>
		<input type="text" name="email" placeholder="email" id="text-input">
		<input type="submit" name="submit" id="submit-input">
		</form>
	</footer>

</body>
</html>