<!DOCTYPE html>
<html id="sent-background">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="sent.css">
</head>
<body>

	<h2>You will be receiving a catalog shortly. Thanks for signign up!</h2>

</body>
</html>