/*CSS for index page*/

#background {
	background-image: url('/images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

img {
	height: 15vh;
	width: 15vw;
	margin-left: 13%;
	display: inline-block;
	margin-top: 10%;
}


h1 {
	margin-left: 40%;
}

form {
	margin-left: 30%;
	margin-right: 60%;
	margin-top: 35%;
}

footer {
	margin-left: 30%;
	color: black;

}